      <div class="row padd">
        <div class="three columns offset-by-one">
          <p><a href="<%= partner.url %>"><img style="max-width:100%" src="<%= partner.logo %>"></a></p>
          <p>Partner <strong><%= partner.level %></strong></p>
        </div>
        <div class="seven columns">
          <!--<h1><%= partner.name %></h1>-->
          <%- partner.text %>
        </div>
        <div class="one"></div>
      </div>