
  <div class="row padd">
    <div class="ten columns centered" id="partners">


      <p>Partner packages are available on request: <a href="mailto:contact@dotjs.eu">contact@dotjs.eu</a></p>
      <br/>
      <hr>

      <p>This event couldn't be organized without the help of our awesome partners. Check them out!</p>

      <h2>Platinum Partner</h2>

      <% for (var partner in partners) { %>
        <% if (partners.hasOwnProperty(partner) && partners[partner].level === 'platinum') { %>
          <a class="platinum-partner logo-<%= partners[partner].name.toLowerCase().replace(' ', '') %>" href="/partner/<%= partners[partner].name.toLowerCase().replace(' ', '') %>"><img src="<%= partners[partner].logo %>"></a>
        <% } %>
      <% } %>

      <h2>Gold Partners</h2>

      <div class="row">
      <% for (var partner in partners) { %>
        <% if (partners.hasOwnProperty(partner) && partners[partner].level === 'gold') { %>
          <div class="six columns">
            <a class="gold-partner logo-<%= partners[partner].name.toLowerCase().replace(' ', '') %>" href="/partner/<%= partners[partner].name.toLowerCase().replace(' ', '') %>"><img src="<%= partners[partner].logo %>"></a>
          </div>
        <% } %>
      <% } %>
      </div>


      <h2>Silver Partners</h2>

      <% var i = 0; %>

      <div class="row">
      <% for (var partner in partners) { %>
        <% if (partners.hasOwnProperty(partner) && partners[partner].level === 'silver' && i<3) { %>
          <div class="four columns">
            <a class="silver-partner logo-<%= partners[partner].name.toLowerCase().replace(' ', '') %>" href="/partner/<%= partners[partner].name.toLowerCase().replace(' ', '') %>"><img src="<%= partners[partner].logo %>"></a>
          </div>
          <% i++ %>
        <% } %>
      <% } %>
      </div>

      <% var i = 0; %>

      <div class="row">
      <% for (var partner in partners) { %>
        <% if (partners.hasOwnProperty(partner) && partners[partner].level === 'silver') { %>
          <% if (i>=3) { %>
            <div class="four columns">
              <a class="silver-partner logo-<%= partners[partner].name.toLowerCase().replace(' ', '') %>" href="/partner/<%= partners[partner].name.toLowerCase().replace(' ', '') %>"><img src="<%= partners[partner].logo %>"></a>
            </div>
            <% if (i==42) { %><div class="two columns"></div><% } %>
          <% } %>
          <% i++ %>
        <% } %>
      <% } %>
      </div>


      <h2>Bronze Partners</h2>

      <div class="row">
      <% for (var partner in partners) { %>
        <% if (partners.hasOwnProperty(partner) && partners[partner].level === 'bronze') { %>
          <div class="four columns">
            <a class="bronze-partner logo-<%= partners[partner].name.toLowerCase().replace(' ', '') %>" href="/partner/<%= partners[partner].name.toLowerCase().replace(' ', '') %>"><img src="<%= partners[partner].logo %>"></a>
          </div>
        <% } %>
      <% } %>
      </div>

    </div>
  </div>
